<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MahantExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />      
    </sectionGroup>
  
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.29.182\SQLSERVER2014;Initial Catalog=MahantExportTRP_live;User ID=SA;password=1234;Integrated Security=false" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="TrnType" value="OTHER,PAYMENT,UPAD,SALARY,VYAJE,INTEREST" />
    <add key="UnitType" value="NA,KG,MTR,GRMS,LTR,PCS,CARAT" />
    <add key="Username" value="ADMIN" />
    <add key="Password" value="ADMIN" />
    <add key="SecurityKey" value="AxoneInfoTechDiamMFG" />
    <add key="DBName" value="AxoneDiamMFGSingleMix" />
    <add key="BackupPath" value="D:\Projects\AxoneInfotech\AxoneDiamMFGSingleMix\AxoneDiamMFGSingleMix\bin\Debug\BackUp\" />
    <add key="EmailAddress" value="AxoneInfotech" />
    <add key="CompanyName" value="Rijiya Gems" />
    <add key="ExeUpdatePath" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FileUploaderSoap" />
        <binding name="ReportCheckWSImplPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="ReportCheckWSImplPortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/FileUpload/FileUploader.asmx" binding="basicHttpBinding" bindingConfiguration="FileUploaderSoap" contract="FileUploadService.FileUploaderSoap" name="FileUploaderSoap" />
      <endpoint address="https://labws.gia.edu/ReportCheck/ReportCheckWS" binding="basicHttpBinding" bindingConfiguration="ReportCheckWSImplPortBinding" contract="GIADownload.ReportCheckWS" name="ReportCheckWSImplPort" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <MahantExport.Properties.Settings>
      <setting name="MahantExport_DocumentDownload_WebService" serializeAs="String">
        <value>http://103.218.110.153/trpimpexwebservicelive/webservice.asmx</value>
      </setting>
    </MahantExport.Properties.Settings>   
  </applicationSettings>

  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2016White</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
